-r requirements.txt
doc8
furo
m2r2
pyyaml
setuptools
sphinx==7.1.2
sphinx-design
sphinx-copybutton
sphinx-notfound-page
sphinxcontrib.datatemplates
sphinxcontrib-spelling
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
